@font-face {
  font-family: 'Anton';
  src: url('./font/Anton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GowunDodum';
  src: url('./font/GowunDodum-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Caveat';
  src: url('./font/Caveat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Alkatra';
  src: url('./font/Alkatra-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LilitaOne';
  src: url('./font/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'malgun';
  src: url('./font/malgun.ttf') format('truetype');
}
